name: Android Build Stable

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    
    # Use Gradle 8.0 which pairs perfectly with AGP 8.0.2
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 8.0
        
    - name: Build Debug APK
      run: gradle assembleDebug --stacktrace --warning-mode all
